<div class="container my-5 p-4 shadow-sm rounded ">
  <!-- Form Section -->

  <div>
    <form [formGroup]="form">
      <div class="mb-4">
        <label for="exampleFormControlTextarea1" class="form-label fs-1 fw-bold text-center d-flex justify-content-center">
          <span *ngIf="isBrowser" [roughNotation]="{ type: 'highlight', color: '#F44336' }">Check Plagiarism</span>
        </label>
        <div  class="fs-5 d-flex justify-content-center">Please avoid entering the following characters in your text</div>
          <div  class="fs-4 d-flex justify-content-center mb-4">
          <span *ngIf="isBrowser" [roughNotation]="{ type: 'underline', color: '#F44336' }">(&),(<),(>),("),('),(\)</span>
          
          </div>
        
         <div class="form-group">
          <textarea id="customTextarea" class="form-control custom-textarea border-dark"  formControlName="plagContent"
          rows="8"
          placeholder="Enter your text here..."></textarea>
        </div>
        
      </div>
      <div class="d-flex justify-content-center">
        <button class="animated-btn px-4" (click)="checkPlagirism()" [disabled]="form.invalid">Check Plagiarism</button>

      </div>
    </form>
  </div>


  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading-overlay d-flex justify-content-center align-items-center">
    <div class="loader"></div>
  </div>
  <div class="container mt-5" *ngIf="plagResult && !isLoading">
    <div class="text-center fs-4 text-dark mb-4 fw-medium text-dark">
      <span *ngIf="isBrowser" [roughNotation]="{ type: 'box', color: '#F44336' } ">Plagiarism Results</span>
      </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link text-decoration-none" >
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title text-center" >
                Plagiarism Percentage
              </div>
              <div class="ag-courses-item_date-box text-center">
                <span class="ag-courses-item_date fs-1">
                  {{ displayedPlagPercent }}%
                </span>
              </div>
            </a>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link text-decoration-none">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title text-center">
                Unique Percentage
              </div>
              <div class="ag-courses-item_date-box text-center">
                <span class="ag-courses-item_date fs-1">
                  {{ displayedUniqPercent }}%
                </span>
              </div>
            </a>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link text-decoration-none">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title text-center">
                Paraphrase Percentage
              </div>
              <div class="ag-courses-item_date-box text-center">
                <span class="ag-courses-item_date fs-1">
                  {{ displayPhrasPercent }}%
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  <!-- Results Section -->
  
    
    <!-- <div class="row text-center mb-4">
      <div class="col-md-4 mb-3">
        <div class="fw-bold text-muted">Plagiarism Percentage:</div>
        <div class="displayed-percentage fs-5 text-danger">{{ displayedPlagPercent }}%</div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="fw-bold text-muted">Unique Percentage:</div>
        <div class="displayed-percentage fs-5 text-success">{{ displayedUniqPercent }}%</div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="fw-bold text-muted">Paraphrase Percentage:</div>
        <div class="displayed-percentage fs-5 text-warning">{{ displayPhrasPercent}}%</div>
      </div>
    </div> -->

    <!-- Sources Section -->
    <div *ngIf="plagResult.sources.length">
      <h6 class="text-dark fs-4 fw-medium mt-4">
        <span *ngIf="isBrowser" [roughNotation]="{ type: 'underline', color: '#F44336' } ">Sources</span>
        </h6>
      <ul class="list-unstyled">
        <li *ngFor="let source of plagResult.sources" class="mb-2">
          <a [href]="source.link" class="forLink text-decoration-none text-break fs-5" target="_blank">{{ source.link }}</a>
          - <span class="fw-bold">{{ source.percent }}% match</span>
        </li>
      </ul>
    </div>

    <!-- Details Section -->
    <div *ngIf="plagResult.details.length">
      <div class="text-center fs-4 text-dark mb-4 fw-medium text-dark">
        <span *ngIf="isBrowser" [roughNotation]="{ type: 'box', color: '#F44336' } ">Details</span>
        </div>
      <!-- <h5 class="text-primary fs-4 text-center mt-4">Details:</h5> -->
      <div class="row">
        <div class="col-12 col-md-6">
      <h6 class="text-center my-2 fs-4">Unique Content</h6>

          <ul *ngIf="isBrowser" [roughNotation]="{ type: 'box', color: '#F44336' } " class="list-unstyled border border-secondary p-2">
            @for ( source of plagResult.details;track $index) {
              @if (source.unique === 'true') {
                <li class="forTrue  mb-2">{{ source.query }}</li>
              }
            }
          </ul>
        </div>
        <div class="col-12 col-md-6">
      <h6 class="  text-center my-2 fs-4">Plagrised Content</h6>

          <ul *ngIf="isBrowser" [roughNotation]="{ type: 'box', color: '#F44336' } " class="list-unstyled border border-secondary p-2">
            
            @for ( source of plagResult.details;track $index) {
              @if (source.unique === 'false') {
                <li class="forFalse  mb-2">{{ source.query }}</li>
              }
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
